
@import "mobile.scss";

:root {
    --text: #313131;
    --bg: #f8f8f8;
    --highlight: #df8b1c;
    --links: #9b561e;
    --subheading: #666666;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #bdbdbd;
        --bg: #2e2e2e;
        --highlight: #b96724;
        --links: #df8b1c;
        --subheading: #adadad;
    }
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: var(--text);
    background: var(--bg);
}

a {
    color: var(--links);
}

main {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1200px;
    margin-top: 2rem;
    font-size: 1.33em;
    min-height: 73vh;

    header {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        h1 {
            margin: 0;
        }
        .subtitle {
            line-height: 2;
        }
    }
}

.gallery {
    width: 100%;
    display: flex;
    gap: 2rem;

    img {
        width: 100%;
    }
}

body > header {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    > div {
        margin-top: auto;
        margin-bottom: auto;
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        > a {
            text-decoration: none;
        }
    }
    #subtitle {
        margin-top: 0;
        color: var(--subheading);
        font-size: 1.5rem;
    }
    #logo {
        max-height: 6rem;
    }
}

footer {
    margin-bottom: 2rem;
    text-align: center;
    width: fit-content;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.15em;
    max-width: 50em;

    > * {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    nav {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        width: fit-content;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

#pagetitle {
    font-size: 2.5rem;
}

div.subtitle {
    font-weight: 600;
    color: var(--subheading);
}

time {
    color: var(--subheading);
}

.categories {
    color: var(--subheading);
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: monospace;
    display: flex;
    gap: 0.5rem;
    text-decoration: underline;
    list-style: none;
}

#post-metadata {
    a {
        font-size: 1.25rem;
    }
}

article {
    h1,h2,h3,h4 {
        font-weight: 600;
        color: var(--highlight);
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    article {
        margin-left: 4rem;
        margin-right: auto;
        width: fit-content;
    }
}

figure {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    img {
        border: 1px solid var(--highlight);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        max-width: 100%;
        max-height: 50rem;
    }
    figcaption {
        font-style: italic;
        margin-top: 2rem;
        text-align: center;
    }
}

pre {
    overflow: scroll;
    font-size: 1.10rem;
    padding: 1em;
}

video {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    display: block;
}

.blog-post-link {
    p {
        margin-top: 0.1em;
    }
    list-style: '- ';
}

.fediring-section {
    ul {
        list-style: none;
        nav {
            display: flex;
            a {
                text-decoration: none;
                font-weight: 800;
                font-size: 18pt;
            }
        }
    }
}

.webbutton {
    width: 88px;
    height: 31px;
}

.footnote-definition {
    sup {
        font-size: 1em;
        font-weight: 600;
        color: var(--highlight);
    }
    margin-bottom: 0.5em;
    p {
        display: inline;
    }
}

.content-warning {
    border: 2px var(--highlight) dotted;
    padding: 0 0.5em;
    h1 {
        font-size: 1.25em;
    }
}