
:root {
    --text: #313131;
    --highlight: #df8b1c;
    --links: #9b561e;
    --subheading: #666666;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 12pt;
    color: var(--text);
    max-width: 98vw;
}

a {
    color: var(--links);
}

main {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    width: fit-content;
    max-width: 800px;
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

header {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    max-width: 95%;
    display: flex;
    gap: 2rem;
    > div {
        margin-top: auto;
        margin-bottom: auto;
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    #subtitle {
        margin-top: 0;
        color: var(--subheading);
        font-size: 1.5rem;
    }
    #logo {
        max-height: 6rem;
    }
}

footer {
    position:absolute;
    bottom:0;
    margin-bottom: 2rem;
    text-align: center;
    width: 95%;
    text-align: center;

    menu {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
        width: fit-content;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}