@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import 'colours.scss';
@import 'nav.scss';
@import 'article.scss';
@import 'blog.scss';
@import 'font-awesome/font-awesome.scss';
@import 'highlight.css';

body{
  margin:0px 10vw;
  font-family: 'Open Sans', sans-serif;
  color:rgb(86, 86, 86); //Something less harsh
}

body > *{
  max-width:80vw;
}

header{
    width: 80w;
    height: auto;
    margin:0;
    margin-top: 1vh;
    margin-bottom:1vh;
}

footer{
  height:10vh;
  border-top: 2px grey solid;
}

header > *{
  margin:0;
}

article{
  min-height: 70vh;
}

.title{
  font-size:2.5vw;
  font-weight:500;
}
.subtitle{
  font-size:1.5vw;
  margin-top: 0.5em;
  font-weight:200;
}

header .hsavatar{
  float:left;
  width: 3.5vw;
}

table thead tr th {
	text-align:left;
	border-bottom: 1px solid #565656;
}

table  td {
  border: none;
}
