nav li{
  margin:0.1vw;
  display: inline;
  font-size: 1vw;
  text-transform: capitalize;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-icons{
  font-size: 2vw;
  list-style-type: none;
  float:right;
}

.social-icons .fa-github-square{
  color:#000000;
}

.social-icons .fa-twitter-square{
  color:#1da1f2;
}

.social-icons li{
  display: inline;
}
