<h1>Blog</h1>

{{#posts}}
<section class="blogpost">
  <h1><a href="/blog/{{{path}}}">{{title}}</a></h1>
  {{#image}}
    <img src="{{{image}}}" alt="{{title}}">
  {{/image}}
  <span class="categories"><i class="fa fa-chevron-right"></i> {{categories}}</span>
  <span class="author"><i class="fa fa-user"></i> {{author}}</span>
  <span class="created"><i class="fa fa-calendar"></i> {{created}}</span>
  <p>
    {{{article}}}
  </p>
  <a href="/blog/{{{path}}}">Click to read more.</a>
</section>
{{/posts}}
