<!DOCTYPE html>

<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="style.css">
<title>$half-shot.uk</title>

<header>
  <img  class="hsavatar">
  <span class="title">$half-shot.uk</span>
  <span class="subtitle">'Stuck in the past' edition</span>
  <nav>
    <ul>
      {{#siteindex}}
      <li><a href="{{{.}}}">{{.}}</a></li>
      {{/siteindex}}
    </ul>
  </nav>
</header>
<article>
{{{article}}}
</article>
<footer>
 <p> Copyright © 2016 Will Hunt &lt;me@half-shot.uk&gt; </p>
 <p> This work is free. You can redistribute it and/or modify it under the
     terms of the Do What The Fuck You Want To Public License, Version 2,
     as published by Sam Hocevar. See the <a href="https://github.com/Half-Shot/half-shot.uk/blob/master/COPYING">COPYING</a> file for more details.
 </p>
</footer>
<script src="main.js"></script>
