{% include "./head.html.njk" %}
<article>
    <hgroup>
        <h1 class="title">{{ post.title }}</h1>
        {% if post.subtitle %}
        <h2>{{ post.subtitle }}</h2>
        {% endif %}
    </hgroup>
    <aside class="metadata">
        <span> 🕒 Reading time: {{ post.readingTime.text }}</span>
        <span> ✏️ Published: {{ post.published }}</span>
        <p> Tags: {% for tag in post.tags %} <span>#{{ tag }}</span> {% endfor %} </p>
    </aside>
    {% block content %}{% endblock %}
</article>
{% include "./foot.html.njk" %}