<footer>
Source can be found at <a rel="noreferrer noopener" target="_blank" href="https://github.com/Half-Shot/half-shot.uk">github.com</a> |
Icons by <a rel="noreferrer noopener" target="_blank" href="https://feathericons.com/">Feather</a>
</footer>