<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>half-shot.uk | {{ page.title | default(value=section.title) }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css" />
  <link rel="icon" href="/site-icon.webp" />
  <link rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" />
</head>

<header role="banner">
  <a href="/">
    <img title="Skraps, the kobold" id="logo" alt="Kobold Head Logo" src="/headshot.webp" />
  </a>
  <div>
  <h1>half-shot.uk</h1>
  <p id="subtitle">Writings, arts, softwares, etc etc</p>
  </div>
</header>

<main>
  {% block content %} {% endblock %}
</main>

<footer>
  <menu>
    <li><a href="https://github.com/Half-Shot">GitHub</a></li>
    <li><a rel="me" href="https://mastodon.half-shot.uk/@halfy">Mastodon</a></li>
    <li><a href="https://github.com/Half-Shot/half-shot.github.io">Source</a></li>
    <li><a href="/contact">Contact</a></li>
  </menu>
  
  <p> This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><abbr title="Attribution-NonCommercial-ShareAlike 4.0 International">CC BY-NC-SA 4.0</abbr> License</a>.</p>
</footer>

</html>