{% extends "base.html" %}

{% block content %}
<div id="post-metadata">
  <time datetime="{{ page.date }}">{{ page.date }}</time>
  <ul class="categories">
  {% for category in page.taxonomies.categories %}
    <li>{{ category }}</li>
  {% endfor %}
  </ul>
  {% if page.extra.project_url %}
  <a target="_blank" rel="noopener" href="{{ page.extra.project_url }}">Project Page</a>
  {% endif %}
  {% if page.extra.fediverse_post %}
  <a target="_blank" rel="noopener" href="{{ page.extra.fediverse_post }}">Comments</a>
  {% endif %}
</div>
{% if page.taxonomies.kind %}
<div class="post-kind-clip" role="presentation">
  <section class="post-kind {{ page.taxonomies.kind | join }}">
  <h2>{{ page.taxonomies.kind | join }}</h2>
  {% if page.taxonomies.kind | join == "opinion" %}
    <p>This is an <strong>opinion</strong> piece. It represents my views on a subject at the given time and does NOT represent the views of my employers (past or present), friends or family, projects I am involved with nor my pet dog (he is quiet on the subject).</p>
  {% endif %}
  {% if page.taxonomies.kind | join == "hacking" %}
    <p>This post goes into details of how to hack something. I am not responsible for what you to do to your devices, or what data is lost/exposed as a result of following instructions on this post. This post may assist you in your projects, and I am happy to answer questions.</strong></p>
  {% endif %}
  </section>
</div>
{% endif %}
<article>
  {{ page.content | safe }}
</article>
{% endblock content %}
