{% extends "base.html" %}
{% block content %}
<div>
{{ page.content | default(value=section.content | safe) | safe }}
</div>


<section>
    <h2> Recent Blog Posts </h2>
    {% set blog_section = get_section(path="blog/_index.md") %}
    <ol>
    {% for post in blog_section.pages | sort(attribute="date") | reverse | slice(end=5) %}
        <li class="blog-post-link">
            <a href="{{ post.permalink }}">{{ post.title }}</a> 
            <time datetime="{{ post.date }}">{{ post.date }}</time>
            <p>{{ post.description }}</p>
        </li>
    {% endfor %}
    </ol>
    <a href="/blog">See all posts</a>
    <a target="_blank" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">Atom Feed</a>
</section>

<section class="fediring-section">
    <h2>
        Fedirings
    </h2>
    <p>
        I participate in these <a target="_blank" referrerpolicy="no-referrer" href="https://en.wikipedia.org/wiki/Webring">webrings</a>.
    </p>
    <ul>
        <li>
            {% for ring in load_data(path="content/webrings.yml") %}
            <nav aria-label="{{ ring.name }} webring navigation">
                <a aria-label="Go to previous website" title="Go to previous page" href="{{ ring.url }}/previous?host=half-shot.uk">←</a>
                <a title="{{ ring.name }}" href="{{ ring.url }}"><img alt="{{ ring.name }} icon" src="{{ ring.icon }}" ></a>
                <a aria-label="Go to next website" title="Go to next page" href="{{ ring.url }}/next?host=half-shot.uk">→</a>
            </nav>
            {% endfor %}
        </li>
    </ul>
</section>

{% endblock content %}