{% include "../components/head.html.njk" %}
<h1>{{ title }}</h1>
<nav>
  <ul>
    <li> <img src="/icons/chat.svg"/> <a rel="noreferrer noopener" href="/log.html"> Log Files </a>
  </ul>
</nav>
{% include "../components/foot.html.njk" %}