{% include "../components/head.html.njk" %}
<h1>{{ title }}</h1>
<p><small> 👨‍💻 Programmer | 🖌️ Aspiring Artist | ✍️ Occasional Writer | 🐶 Canine Appreciator</small></p>
<nav class="social">
  <span> <img src="/icons/chat.svg"/> <a rel="noreferrer noopener" target="_blank" href="https://github.com/Half-Shot/half-shot.uk"> Matrix </a> | </span>
  <span> <img src="/icons/twitter.svg"/> <a rel="noreferrer noopener" target="_blank" href="https://twitter.com/Half_Shot"> Twitter </a> | </span>
  <span> <img src="/icons/github.svg"/> <a rel="noreferrer noopener" target="_blank" href="https://github.com/Half-Shot"> GitHub </a> </span>
</nav>
{% include "../components/foot.html.njk" %}