{% include "../components/head.html.njk" %}
<h1>Log Files</h1>
<ul>
{% for post in blogPosts %}
  <li><a href="{{ post.url }}">{{ post.title }}</li>
{% endfor %}
</ul>
{% include "../components/foot.html.njk" %}